{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-primary">My Education</h1>
    <h2 class="text-primary">Dr. Phitchayaphak Phiphitphatphaisit</h2>
    <table class="table table-warning table-hover text-primary"
           style="width: 90%;" align="center">
        <tr class="bg-danger text-danger">
            <th width="20%">Degree</th>
            <th width="30%">Degree Name</th>
            <th width="50%">Institute</th>
        </tr>
        <tr>
            <td>Vocational</td>
            <td>Commercial</td>
            <td>Nan Technical Collage</td>
        </tr>
        <tr>
            <td>Diploma</td>
            <td>Business Computer</td>
            <td>Nan Technical Collage</td>
        </tr>
        <tr>
            <td>Bachelor</td>
            <td>Information System</td>
            <td>Rajamangala University of Technology, Thunyaburi</td>
        </tr>
        <tr>
            <td>Master</td>
            <td>Inforamtion Technology</td>
            <td>King Mongkut's University of Technology North Bangkok</td>
        </tr>
        <tr>
            <td>Doctoral</td>
            <td>Information Studies</td>
            <td>Khon Khaen University</td>
        </tr>
    </table>
     <div class="text-center">
        <img src="{% static 'images/general/orphich.png' %}"
         height="200px" width="240px">
    </div>

    <br><br>
    <a href="{% url 'home' %}" class="btn btn-primary"><i class="fa fa-home"></i> Home</a>
    <br><br>
{% endblock %}