{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}.
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="mt-4 p-5 bg-secondary text-white rounded" style="border-color: dimgray;border-style:solid">
                <h1 class="text-center">
                    Welcome to Djang Yummy
                </h1>
                <h2 class="text-center text-warning">Web for Youth </h2>
                <br>
                <p>
                    <b>Our company help you to up performance to best company, </b>
                    we provide many service for transform your company
                    to digital business with software, technology, network,
                    data system to business intelligence
                    <i class="fas fa-smile-wink" style="color: yellow"></i>
                    <i class="fas fa-smile-wink" style="color: yellow"></i>
                </p>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div> <br>
    <div class="text-center">
    <div class="spinner-border text-success"></div>
    <div class="spinner-grow text-warning"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-border text-success"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center">
            <img src="{% static 'images/general/digital1.jpg' %}"
                 class="rounded-circle" width="150px" height="150px">
        </div>
        <div class="col-lg-3 text-center">
            <img src="{% static 'images/general/digital2.jpg' %}"
                 class="rounded-circle" width="150px" height="150px">
        </div>
        <div class="col-lg-3 text-center">
            <img src="{% static 'images/general/digital3.jpg' %}"
                 class="rounded-circle" width="150px" height="150px">
        </div>
    <div class="col-lg-3 text-center">
            <img src="{% static 'images/general/digital4.jpg' %}"
                 class="rounded-circle" width="150px" height="150px">
        </div>
    </div>
{% endblock %}